.modal {
  border: 1px red solid;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  z-index: 1000;
  width: 40rem;
  padding: 2rem;
}

.add-post-title {
  text-align: center;
}

form {
  display: grid;
}

form > textarea {
  height: 70px;
  resize: none;
}